@import '@/styles/ant.less';

.layoutMenuItem {
    a {
        color: @menu-highlight-color !important;
    }

    &:hover {
        a {
            color: @menu-highlight-color !important;
        }
    }
}

.ant-menu-dark {
    .layoutMenuItem {
        a {
            color: @menu-dark-color !important;
        }

        &:hover {
            a {
                color: @layout-trigger-color !important;
            }
        }
    }
}

// 覆盖菜单缩起样式
.ant-menu-inline-collapsed {
    .ant-menu-submenu-title {
        width: 100%;
    }

    .ant-menu-submenu-title, .ant-pro-menu-item-title {
        display: inline-block;
        opacity: 0;
    }

    .layoutMenuItem {
        a {
            opacity: 0;
        }
    }
}

