@import '@/styles/ant.less';

.layoutMenuItem {
    a {
        color: @menu-highlight-color !important;
    }

    &:hover {
        a {
            color: @menu-highlight-color !important;
        }
    }
}

.ant-menu-dark {
    .layoutMenuItem {
        a {
            color: @menu-dark-color !important;
        }

        &:hover {
            a {
                color: @layout-trigger-color !important;
            }
        }
    }
}

// 覆盖菜单缩起样式
.ant-menu-inline-collapsed {
    .ant-menu-submenu-title {
        width: 100%;
    }

    .ant-pro-menu-item-title {
        display: inline-block;
        opacity: 0;
    }
}

// 面包屑功能 第一层不能点击
.ant-pro-global-header {
    .ant-breadcrumb {
        span {
            pointer-events: none;

            a {
                color: #ffffff !important;
                font-family: PingFang-SC-Bold, PingFang-SC;
                font-weight: bold;
            }

            .ant-breadcrumb-separator {
                color: #ffffff !important;
            }
        }
    }
}

// logo区域限制
.ant-pro-global-header:not(.ant-pro-global-header-layout-mix) {
    .ant-pro-global-header-logo {
        margin-left: -16px;
        padding-left: 16px;
        margin-right: 16px;
        min-width: 207px;

        img {
            height: 24px !important;
        }
    }
}
