// 公共样式集合
@import "theme";

// 全局字体样式
body {
    margin: 0;
    font-family: $UI-FONT-FAMILY;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

// 获取尺寸 基础尺寸为4px
@function get-size($type) {
    @return $SIZE1 * $type;
}

// 居中布局
.center-layout {
    min-width: 1200px;
    margin: 24px;
    overflow: auto;
}

// 移动端布局样式
.center-layout-mobile {
    margin: 24px;
    overflow: auto;
}

// 居中布局
.center-layout-rows {
    //margin-right: 0 !important;
    //margin-left: 0 !important;
}

// 居中col布局
.center-layout-col {
    padding: get-size(2);
}

// 背景图片 居中平铺布局
.background-covered {
    // 等比例缩放
    //background-size: cover; // 把背景图像扩展至足够大，以使背景图像完全覆盖背景区域。背景图像的某些部分也许无法显示在背景定位区域中。
    // 图片定位 在中间显示
    //background-position: center;
    //background-attachment: fixed;
    // 设置图片平铺方式 保留自身大小不平铺
    background-size: 100% 100%; // 上下平铺 可能变形
    background-repeat: no-repeat;
}

// 增加权重
div.background-covered {
    @extend .background-covered;
}

::-webkit-scrollbar {
    width: $SIZE0;
}

::-webkit-scrollbar-track {
    background-color: $scrollbar-background;
    -webkit-border-radius: get-size(1);
    -moz-border-radius: get-size(1);
    border-radius: get-size(1);
}

// 滚蛋条样式
.app-scrollbar {
    overflow: auto;
}

.app-scrollbar::-webkit-scrollbar {
    width: get-size(1);
}

::-webkit-scrollbar-thumb {
    background-color: $scrollbar-color;
    -webkit-border-radius: get-size(1);
    -moz-border-radius: get-size(1);
    border-radius: get-size(1);
}

//<!--修改 滚动条的 下面 的 样式-->
.app-scrollbar::-webkit-scrollbar-track {
    background-color: $scrollbar-background;
    -webkit-border-radius: get-size(1);
    -moz-border-radius: get-size(1);
    border-radius: get-size(1);
}

//<!--修改 滑块 -->
.app-scrollbar::-webkit-scrollbar-thumb {
    background-color: $scrollbar-color;
    -webkit-border-radius: get-size(1);
    -moz-border-radius: get-size(1);
    border-radius: get-size(1);
}
