// 展示类定制信息 后续使用web Component开发展示页面 对外提供展示
// 尺寸信息
$SIZE0: 2px;
$SIZE1: 4px;
$SIZE2: 8px;
// 字体信息
$font-base-size: 12px;
$font-title-size: 14px;
$color: red;
$scrollbar-color: #d9d9d9;
$scrollbar-background: #141414;

$UI-FONT-FAMILY-HELVETICA: "Helvetica"; // 数字或者英文的字体
$UI-FONT-FAMILY: "PingFang SC", "Lantinghei SC", "Microsoft YaHei", "HanHei SC", "Helvetica ", "Open Sans", Arial, "Hiragino Sans GB", "微软雅黑", STHeiti, "WenQuanYi Micro Hei", SimSun, sans-serif;
